.footer{
    /* margin-top: 5%; */
    background-color:rgb(10, 1, 1);
    color: #fff;
    width: 100vw;
    font-size: 0.5rem; 
}

.footerUpper{
    padding: 1px;
    display: flex;
    justify-content: left;
    overflow: auto;
    margin: 0px;
    min-height: 1vh;
    flex-direction: column;

    

    /* justify-content: space-evenly; */
   
}

h6{
    color: rgb(156, 161, 163);
}
span{
    color: blue;
}

@media (min-width: 568px) {
    .footerUpper {
      flex-wrap: nowrap;
      

    }
    .lowerfooter {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        justify-content: space-evenly;

      }
     
    
  }
